<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher-welcome</title>
    <script>
        function  changeclk() {
            document.body.style.backgroundImage = "url(../../static/images/welcome-teacher.jpg)";
        }
    </script>
</head>
<body>
    <div class="div1" id="div_1">
        <p>Teacher</p>
        <h2>欢迎使用XX学生签到系统</h2>
        <input type="button" value="是"  onclick="changeclk()"/>
        <input type="button" value="否"  onmouseover="chengove()"/>
    </div>
</body>
</html>